<p>Đỗ Huy Hoàng - 2021050781 - Tính Lương</p>
<form asp-action="Index">
    <label>Ho ten: </label>
    <input type="text" name="hoTen" placeholder="Nhap ho ten">
    <br>
    <label>He so luong: </label>
    <input type="number" step="0.1" name="heSoLuong" placeholder="Nhap he so luong">
    <br>
    <label>Phu cap: </label>
    <input type="number" name="phuCap" placeholder="Nhap phu cap">
    <button type="submit">Save</button>
</form>
<h1>@ViewBag.noti</h1>