<p>Vũ Mai Linh- 20210507850 - Giải phương trình bậc 2</p>
<form asp-action="Index">
    <label>He so a:</label>
    <input type="number" name="heSoA" placeholder="Nhap he so a">
    <br>
    <label>He so b:</label>
    <input type="number" name="heSoB" placeholder="Nhap he so b">
    <br>
    <label>He so c:</label>
    <input type="number" name="heSoC" placeholder="Nhap he so c">
    <button type="submit">Save</button>
</form>
<h1>@ViewBag.debai</h1>
<h1>@ViewBag.noti</h1>