<form asp-action="Index">
    <input type="text" name="fName" placeholder="Enter Name" />
    <input type="email" name="Email" placeholder="Enter Email" />
    <button type="submit"  > Save </button>
</form>
<h1>@ViewBag.thongBao</h1>