<form asp-action="Index">      
  <p><label>EmployeeID</label>
    <input name="EmployeeID" class="w3-input w3-border" type="text"></p>
    <label>TenNV</label>
    <p><input name="TenNV" class="w3-input w3-border " type="text">
    <input class="w3-btn w3-grey w3-border" type ="submit"></p>
</form>
<h2>@ViewBag.thongbao</h2>