<form asp-action="Index">      
  <p><label>PersonID</label>
    <input name="PersonID" class="w3-input w3-border" type="text"></p>
    <label>FullName</label>
    <p><input name="FullName" class="w3-input w3-border " type="text">
    <input class="w3-btn w3-grey w3-border" type ="submit"></p>
</form>
<h2>@ViewBag.thongbao</h2>
